body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#tut-container {
	opacity: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	height: 100%;
	width: 100%;
	font-size: 14px;
}

#gm-bubble-content {
	opacity: 1 !important;
}

#gm-bubble-content[data-state="disabled"] ~ #tut-container {
	transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #777;				
}

#gm-bubble-content[data-state="playing"] ~ #tut-container, #gm-bubble-content[data-state="paused"] ~ #tut-container {
	transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	background: #424242;			
}

#tut-container.start {
	transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

#bubble-highlight {
	width: 300px;
	height: 300px;
	position: absolute;
	top: calc(30% - 150px);
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;				
	display: inline-block;
	background-color: #ddd;	
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#gm-bubble-content[data-state="playing"] ~ #tut-container > #bubble-highlight,
#gm-bubble-content[data-state="paused"] ~ #tut-container > #bubble-highlight {
	background-color: #fff;				
}

h1 {
	font-weight: 100;
	margin-top: -60px;
	font-family: 'Flamenco', sans-serif;
	margin-bottom: 40px;
	font-size: 40px;
	color: white;				
}

.text-content {	
	transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	left: 0;
	width: 650px;
	padding: 20px;				
	background-color: #ddd;
	top: calc(30% + 250px);
	right: 0;
	margin: 50px auto 0;
	box-shadow: 0 2px 5px -2px;
	opacity: 0;
	line-height: 1.7em;
}

#gm-bubble-content[data-state="disabled"] ~ #tut-container > #tut-step-1 {
	top: calc(30% + 200px);
	transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	
}

#gm-bubble-content[data-state="playing"]:not(:hover) ~ #tut-container[data-step="step2"] > #tut-step-2,
#gm-bubble-content[data-state="paused"]:not(:hover) ~ #tut-container[data-step="step2"] > #tut-step-2 {
	background-color: #fff;
	top: calc(30% + 200px);
	transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	
}

#gm-bubble-content:not(:hover) {
	opacity: 0.55 !important;
}

#gm-bubble-content[data-state="playing"]:hover ~ #tut-container[data-step="step2"] > #tut-step-3,
#gm-bubble-content[data-state="paused"]:hover ~ #tut-container[data-step="step2"] > #tut-step-3,
[data-step="step3"] #tut-step-3 {
	background-color: #fff;
	top: calc(30% + 200px);
	transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

[data-step="step4"] #tut-step-4  {
	background-color: #fff;
	top: calc(30% + 200px);
	transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}

[data-step="step5"] #tut-step-5  {
	background-color: #fff;
	top: calc(30% + 200px);
	transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
}


[data-step="step5"] #bubble-highlight, #bubble-highlight.pop-highlight {
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	top:30%;
	width:0;
	height:0;
}

#background-container {
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	width:100%;
	height: 100%;
}

[data-step="step2"] #background-container {
	left: -100%;
}

[data-step="step3"] #background-container {
	left: -200%;
}

[data-step="step4"] #background-container {
	left: -300%;
}

[data-step="step5"] #background-container {
	left: -400%;
}

.step-background {
	top:0;
	bottom:0;				
	position:absolute;
	width:100%;			 
}

.step2 {
	background-color: #757575;
	left: 0%;
}

.step2 {
	background-color: #ef6c00;
	left: 100%;
}

.step3 {
	background-color: #00BCD4;
	left: 200%;
}

.step4 {
	background-color: #F44336;
	left: 300%;
}

.step5 {
	background-color: #4CAF50;
	left: 400%;
}

#tut-step-4 > span.w50 {
	width: 50%;
	display: inline-block;
	float: left;
	padding: 0 20px;
	box-sizing: border-box;
	margin-bottom:15px;
}

#tut-step-4 > span > div {
	margin: auto;
	margin-bottom: 10px;
	background-position: center;
	background-size: 65%;
	background-repeat: no-repeat;
	box-shadow: 0 0 4px #333;
}

#tut-step-4 .blacklist > svg, #tut-step-4 .hide > svg {
	padding: 3px;
}

.action {
	font-family: 'Flamenco';
	font-size: 17px;
		font-weight: 700;
}

.action.orange {
	color: #ef6c00;				
}

.action.blue {
	color: #00BCD4;
}

.action.red {
	color: #F44336;				
}

.tip {
	font-style: italic;
	font-size: small;
}

#share-buttons {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 650px;
	bottom: 20px;
	height: 20px;
	text-align: center;
}

#share-buttons > div {
	display: inline-block;
	width: 30%;
	text-align: center;
	height: 20px;
}

iframe {
	height: 20px;
}

ul li {
	list-style-type: none;
	margin-bottom: 12px;
}

.list-icon {
	display: inline-block;
	vertical-align: text-bottom;
	margin-right: 8px;				
}

.move-hint {
	margin: 20px;
}

.move-icon {
	float: left;
}

.move-text {
	margin-left:30px;
}
